@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');


/* shared styles */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.miama-font {
    font-family: 'Miama', sans-serif;
}

.container {
    width: 100%;
    background-color: black;
    /* border: 2px solid yellow; */
}

.btn-primary {
    width: 224px;
    height: 54px;
    border-radius: 2.6rem;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.btn-secondary {
    width: 224px;
    height: 54px;
    border-radius: 2.6rem;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    margin-left: 14px;
}


/* header styles.................................................... */

/* nav styles */

.header-bg {
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%); */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3.5rem; */
    margin-left: 11rem;
    margin-right: 11rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 465px;
    height: 46px;
    padding-left: 5px;
    padding-right: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.4rem;
}

.menu p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}

.title-name {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    text-align: left;
}

.home-text {
    display: flex;
    justify-content: center;
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    align-items: center;
}

.hamburger {
    color: white;
    display: none;
}

/* banner styles */

.web-into {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
}

.web-intro-text {
    width: 520px;
    height: 440px;
    margin-bottom: 100px;
}

.normal-text {
    color: rgb(255, 255, 255);
    font-size: 4.85rem;
    font-weight: 900;
    text-align: left;
    line-height: 100%;
}

.shape-style {
    color: rgb(255, 255, 255);
    font-size: 7.5rem;
    font-weight: 550;
    text-align: left;
}

.web-intro-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 28px;
}

.box-1,
.box-2 {
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box-1 h3 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
    margin: 0 auto;
    margin-left: 25px;
    margin-top: 10px;
}

.box-2 h5 {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px;
}

.box-1 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    margin-top: 5px;
    font-weight: 400;
    text-align: left;
    margin-left: 25px;
}

.box-2 p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
}

.web-intro-img {
    display: flex;
    position: relative;
}

.box-2,
.box-1 {
    position: absolute;
}

.box-2 {
    top: 410px;
    right: 250px;
}

.box-1 {
    top: 130px;
    left: 230px;
}

/* main section styles....................... */

/* change habit section */


.change-habit-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-habit-text h2 {
    margin-top: 100px;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.change-habit-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}



.change-habit-img {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.round-img {
    border-radius: 50%;
    border: 4px solid rgb(34, 34, 34);
}

.img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-text h6 {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.img-text p {
    width: 231px;
    height: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
}

/* run extra mile section */

.run-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.run-extra-card {
    display: flex;
    width: 80%;
    margin-top: 40px;
    gap: 150px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 30px;
}

.run-extra-text {
    margin-left: 40px;
}

.run-extra-text h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 10px;
}

.run-extra-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}

.run-extra-img {
    margin-right: 40px;
}

.run-extra-img img {
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-top: 20px;
}

/* bmi section */


.bmi-calculator {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-bottom: 90px;
}

.bmi-calculator h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 15px;
}

.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.bmi-info {
    width: 100%;
    background: rgb(34, 34, 34);
}

.bmi-table {
    border-collapse: collapse;
    width: 340px;
    height: 216px;
}

.bmi-table th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: calc(216px / 5);
    text-align: left;
    padding-left: 20px;
}

.bmi-table th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.bmi-table td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.bmi-chart h2 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: left;
    margin-top: 0px;
}

.bmi-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
    /* margin-top: 50px; */
}

.bmi-calculate h2 {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: left;
}

.bmi-calculate p {
    width: 590px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.input-group-1 input,
.input-group-2 input {
    width: 283px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    margin-right: 10px;
}

.input-group-2 select {
    width: 285px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    margin-bottom: 12px;
    margin-right: 10px;
}

.input-group-3 select {
    width: 585px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.input-group-2 select,
.input-group-3 select {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.button {
    margin-top: 35px;
}

.bmi-chart {
    margin-left: 150px;
    margin-top: 0px;
}

.bmi-calculate {
    margin-top: 70px;
}


/* responsive design */

/* header responsive */

@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .nav-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .web-into {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .web-intro-text {
        height: 250px;
    }

    .web-intro-text,
    .web-intro-img {
        width: 90%;
    }

    .web-intro-text h1 {
        font-size: 36px;
        line-height: 100%;
    }

    .shape-style {
        font-size: 66px;
    }

    .header-btn {
        display: flex;
    }

    .web-intro-img {
        width: 90%;
    }

    .box-1 {
        top: 45px;
        left: 200px;
    }

    .box-2 {
        top: 250px;
        left: 20px;
    }

    .box-1,
    .box-2 {
        width: 145px;
        height: 74px;
    }

    .box-1 p,
    .box-2 p {
        font-size: 10px;
    }

    .box-1 h3 {
        font-size: 25px;
    }

    .box-2 h5 {
        font-size: 20px;
    }

    .change-habit-text h2 {
        text-align: center;
        font-size: 2.2rem;
    }

    .change-habit-img {
        display: grid;
        grid-template-columns: 1fr;
    }

    .run-extra-card {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 0px;
        justify-content: center;
        align-items: center;
    }

    .run-extra-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .run-extra-img img {
        width: 287px;
        height: 170px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .btn-resize {
        width: 287px;
        height: 54px;
        margin-bottom: 10px;
    }

}